@import '../_variables';
@import '../_mixins';

.gallery {
  width: 100%;
  margin-top: $header-height + $navigation-height + $description-height;
  padding-bottom: 60px;

  @media (min-width: $breakpoint-laptop-width) {
    margin-top: $header-height + $navigation-height + 32px;
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;

    @media (min-width: $breakpoint-tablet-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: $breakpoint-laptop-width) {
      width: 68%;
      z-index: 10;
      margin-left: 26%;
    }
  }

  &__item {
    color: $main-color;
    text-decoration: none;

    &:nth-child(odd) {
      .gallery__name {
        padding-left: 6px;

        @media (min-width: $breakpoint-laptop-width) {
          padding-left: 1px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 800/963;
    object-fit: contain;
    display: block;
  }

  &__name {
    font-size: $global-font-size-s;
    padding-left: 1px;
  }

  &__description {
    position: fixed;
    left: 0;
    top: $header-height + $navigation-height;
    z-index: 10;
    @include main-padding;
    height: $description-height;
    width: 100%;
    background-color: $white;
    overflow: hidden;

    @media (min-width: $breakpoint-laptop-width) {
      width: 30%;
    }
  }

  &__paragraph {
    padding: 18px 30% 0 0;
    margin: 0;
    font-size: $global-font-size;
    text-transform: uppercase;
    font-weight: normal;
    color: $main-color;

    @media (min-width: $breakpoint-laptop-width) {
      padding: 30px 30% 0 0;
    }
  }
}
