@import '../_variables';
@import '../_mixins';

.header {
  @include main-padding;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $main-color;

  &__link {
    color: $main-color;
    text-decoration: none;
  }

  &__title {
    font-size: $global-font-size-xl;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -3px;
    padding-top: 8px;
    margin-left: -5px;
  }
}
