@import '../_variables';
@import '../_mixins';

.home-page {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: $navigation-height * 6 + $header-height + 12;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-laptop-width) {
    top: 0;
    left: 25%;
    width: 60%;
    height: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
