doctype html
html(lang='en')
  head
    include ../../partials/includes/metadata.pug
    title WEBDEV | 09STD
    meta(name='description' content='Concept and design, UX, UI, Web development, Websites, Online stores, Web apps, Competition platforms, Landing pages, HTML5 banners')
  body
    .app
      include ../../partials/includes/header.pug
      
      include ../../partials/mixins/page-header.pug
      +page-header('WEBDEV')

      main.gallery
        .gallery__description
          p.gallery__paragraph.gallery__paragraph--js
          article.gallery__contact
            h3.gallery__contact-title contact
            a.gallery__link(href="mailto:info@09STD.com") office.09std@gmail.com

        .gallery__container.gallery__container--js