doctype html
html(lang='en')
  head
    include ../../partials/includes/metadata.pug
    title INFLUENCERS | 09STD
    meta(name='description' content='')
  body
    .app
      include ../../partials/includes/header.pug
      
      include ../../partials/mixins/page-header.pug
      +page-header('Influencers')

      main.gallery
        .gallery__description
          p.gallery__paragraph.gallery__paragraph--js
          article.gallery__contact
            h3.gallery__contact-title contact
            a.gallery__link(href="mailto:info@09STD.com") info@09STD.com

        .gallery__container.gallery__container--js