doctype html
html(lang='en')
  head
    include ../partials/includes/metadata.pug
    title CONTACT | 09STD
    meta(name='description' content='NEW BUSINESS OR OTHER OPPORTUNITIES? We are curious to listen to your ideas and get to know more on your brand and business, drop us an e-mail.')
  body
    .app
      include ../partials/includes/header.pug
      
      include ../partials/mixins/page-header.pug
      +page-header('Contact')
      
      main.article
        a.article__mail(href="mailto:info@09STD.com") office.09std@gmail.com
        p.article__paragraph 
          | NEW BUSINESS OR OTHER OPPORTUNITIES? 
          br 
          | We are curious to listen to your ideas 
          | and&nbsp;get to know more on&nbsp;your&nbsp;brand and&nbsp;business, 
          | drop us an e-mail.

        a.article__follow-link(href="https://www.instagram.com/09std" target="_blank") FOLLOW US 
          img.article__follow-image(src=require("../assets/images/right-up-arrow.svg") alt="")
        
        //- section.article__download
        //-   h3.article__title Download portfolio
        //-   a.article__link(href="#") CONTENT CREATION & PRODUCTION
        //-   a.article__link(href="#") INFLUENCERS
        //-   a.article__link(href="#") PR EVENT
        //-   a.article__link(href="#") GRAPHIC DESIGN
        //-   a.article__link(href="#") SOCIAL MEDIA

        //- section.article__social-media
        //-   h3.article__title Social media
        //-   a.article__social-media-link(href="#") Instagram
        //-   a.article__social-media-link(href="#") Facebook
        //-   a.article__social-media-link(href="#") Whatsapp
        //-   a.article__social-media-link(href="#") Twitter