doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 09STD
  meta(name='description' content='')
main.main
  include ../partials/includes/header.pug
  include ../partials/includes/navigation.pug

  .home-page
    img.home-page__image(src=require('../assets/images/photo-1.jpg') alt='')