doctype html
html(lang="en")
  head
    include ../partials/includes/metadata.pug
    title 09STD
    meta(name='description' content='')
  body
    .app
      include ../partials/includes/header.pug
      include ../partials/includes/navigation.pug

      main.home-page.home-page--js



  


    