doctype html
html(lang="en")
  head
    include ../partials/includes/metadata.pug
    title 09STD
    meta(name='description' content='Key Visuals for Campaign, Digital Advertising, BTL + ATL, 3D Graphic Design, Advertorials, DTP Production, Branding, Animation, HTML Production, event production, Concept creation, communication strategies, press office,  media relations, special projects.')
  body
    .app
      include ../partials/includes/header.pug
      include ../partials/includes/navigation.pug

      main.home-page.home-page--js



  


    