doctype html
head
  include ../../partials/includes/metadata.pug
  title PUBLIC RELATIONS & EVENTS | 09STD
  meta(name='description' content='')
.app
  include ../../partials/includes/header.pug
  
  include ../../partials/mixins/page-header.pug
  +page-header('Public relations & events')

  main.gallery
    .gallery__description
      p.gallery__paragraph.gallery__paragraph--js

    .gallery__container.gallery__container--js