doctype html
html(lang='en')
  head
    include ../../partials/includes/metadata.pug
    title PUBLIC RELATIONS & EVENTS | 09STD
    meta(name='description' content='Event production, Concept creation, communication strategies, press office,  media relations, special projects.')
  body
    .app
      include ../../partials/includes/header.pug
      
      include ../../partials/mixins/page-header.pug
      +page-header('Public relations & events')

      main.gallery
        .gallery__description
          p.gallery__paragraph.gallery__paragraph--js

        .gallery__container.gallery__container--js