doctype html
html(lang='en')
  head
    include ../../partials/includes/metadata.pug
    title GRAPHIC DESIGN | 09STD
    meta(name='description' content='Key Visuals for Campaign, Digital Advertising, BTL + ATL, 3D Graphic Design, Advertorials, DTP Production, Branding, Animation, HTML Production.')
  body
    .app
      include ../../partials/includes/header.pug
      
      include ../../partials/mixins/page-header.pug
      +page-header('Graphic Design')

      main.gallery
        .gallery__description
          p.gallery__paragraph.gallery__paragraph--js
          article.gallery__contact
            h3.gallery__contact-title contact
            a.gallery__link(href="mailto:info@09STD.com") 09std@gmail.com

        .gallery__container.gallery__container--js