meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')

//- opengraph
//- <meta property="og:image" content="https://developer.mozilla.org/static/img/opengraph-logo.png">
<meta property="og:description" content="">
<meta property="og:title" content="09STD">

//- icons