nav.navigation
  ul.navigation__list
    //- li.navigation__item
    //-   a.navigation__link(href="/public-relations-and-events/") Public relations & events
    //- li.navigation__item
    //-   a.navigation__link(href="/influencers/") Influencers
    //- li.navigation__item
    //-   a.navigation__link(href="/graphic-design/") Graphic design
    //- li.navigation__item
    //-   a.navigation__link(href="social-media/") Social media
    li.navigation__item
      a.navigation__link(href="/contact.html") Contact