nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/content-creation.html") Content creation
    li.navigation__item
      a.navigation__link(href="#") Influencers
    li.navigation__item
      a.navigation__link(href="#") Public relations & events
    li.navigation__item
      a.navigation__link(href="#") Graphic design
    li.navigation__item
      a.navigation__link(href="#") Social media
    li.navigation__item
      a.navigation__link(href="/contact.html") Contact