nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/public-relations-and-events.html") Public relations & events
    li.navigation__item
      a.navigation__link(href="#") Influencers
    li.navigation__item
      a.navigation__link(href="#") Graphic design
    li.navigation__item
      a.navigation__link(href="#") Social media
    li.navigation__item
      a.navigation__link(href="/contact.html") Contact