nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="/public-relations-and-events.html") Public relations & events
    li.navigation__item
      a.navigation__link(href="/influencers.html") Influencers
    li.navigation__item
      a.navigation__link(href="/graphic-design.html") Graphic design
    li.navigation__item
      a.navigation__link(href="social-media.html") Social media
    li.navigation__item
      a.navigation__link(href="/contact.html") Contact