// colors

$black: #000000;
$white: #ffffff;
$gray: #dadada;
$beige: #f6f4ee;

$main-color: $black;
$second-color: $white;

// fonts family

$main-font: 'Nimbus-Sans-D-OT-Bold', arial, sans-serif;

// fonts size

$global-font-size: 13px;
$global-font-size-s: 10px;
$global-font-size-ms: 12px;
$global-font-size-m: 14px;
$global-font-size-ml: 16px;
$global-font-size-mml: 24px;
$global-font-size-mll: 30px;
$global-font-size-l: 40px;
$global-font-size-xl: 53px;

$global-line-hight: 1.4;
$global-font-weight: normal;
$global-letter-spacing: -0.5px;

// margins and padding

$padding-desktop: 40px;
$padding-mobile: 15px;
$header-height: 78px;
$navigation-height: 28px;
$description-height: 125px;

// breakpoints

$breakpoint-large-desktop-width: 2560px;
$breakpoint-desktop-width: 1440px;
$breakpoint-laptop-width: 1024px;
$breakpoint-tablet-width: 768px;
$breakpoint-mobile-width: 455px;
$breakpoint-small-mobile-width: 375px;

// max & min main width

$main-min-width: 320px;
