// colors

$black: #000000;
$white: #ffffff;

$main-color: $black;
$second-color: $white;

// fonts family

$main-font: 'Nimbus-Sans-D-OT-Bold', sans-serif;

// fonts size

$global-font-size: 16px;
$global-font-size-s: 10px;
$global-font-size-m: 15px;
$global-font-size-l: 40px;
$global-font-size-xl: 60px;

$global-line-hight: 1.4;
$global-font-weight: normal;
$global-letter-spacing: -0.5px;

// margins and padding

$padding-desktop: 40px;
$padding-mobile: 15px;
$header-height: 80px;
$navigation-height: 38px;

// breakpoints

$breakpoint-large-desktop-width: 2560px;
$breakpoint-desktop-width: 1440px;
$breakpoint-laptop-width: 1024px;
$breakpoint-tablet-width: 768px;
$breakpoint-mobile-width: 455px;
$breakpoint-small-mobile-width: 375px;

// max & min main width

$main-min-width: 320px;
