@import '_normalize';

@import '_variables';
@import '_fonts';

@import 'modules/header';
@import 'modules/navigation';
@import 'modules/page-header';
@import 'modules/home-page';
@import 'modules/gallery';
@import 'modules/project';
@import 'modules/article';

.main {
  color: $main-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  text-align: left;

  min-height: 100vh;
  min-width: $main-min-width;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  [style*='--aspect-ratio'] {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
